.common__section {
    background: linear-gradient(rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.562)), url('../assets/images/hero-img.png') no-repeat center center;
    background-size: cover;
    height: 300px;
    display: flex;
    padding: 100px 0px;
    justify-content: center;
    align-items: center;
}

.common__section h1{
    color: #fff;
    font-weight: 600;
}